minimum_pre_commit_version: "2.18"

default_language_version:
  python: python3

default_stages: [pre-commit]

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-json
  - id: check-yaml
  - id: check-added-large-files
  - id: mixed-line-ending
    args: [--fix=lf]
  - id: check-case-conflict
  - id: name-tests-test
    exclude: '.*/tests/utils\.py$'
  - id: requirements-txt-fixer
- repo: https://github.com/psf/black
  rev: 22.6.0
  hooks:
  - id: black
    args: [--line-length=79]
- repo: https://github.com/pycqa/flake8
  rev: 3.9.0
  hooks:
  - id: flake8
    args: ["--extend-ignore=E203, F401,F403,F405"]
